body {
    
    max-width: 90%;
    min-height: 100vh;
    
    background: -webkit-linear-gradient(#1778e6, #f3dff0);
    background:    -moz-linear-gradient(#1778e6, #f3dff0);
    background:         linear-gradient(#1778e6, #f3dff0);
}

.general-styles {
    text-align: center;
    margin-top: 5px;
}